<!DOCTYPE html>
<html>

<head>
    {% include analytics.html %}
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{ site.title }} | {{ page.title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">

    <link rel="shortcut icon" type="image/png" href="/assets/images/reducedLogo.png"/>
    <link rel="apple-touch-icon" href="/assets/images/logo.png">
    <meta property="og:image" content="/assets/images/logo.png" />

    {% feed_meta %}
    {% seo title=false %}
</head>

<body>
    <header>
        <nav class="navbar">
            <a class="navbar-brand" href="/">
                <img src="/assets/images/reducedLogo.png" height="50" class="d-inline-block align-top" alt="The Student Watch">
            </a>
            <ul>
                {% for item in site.data.navigation %}
                <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>