body {
  font-family: 'Open-Sans', sans-serif;
  background-color: $bg-color;
}

main {
  width: 80%;
  margin: 1rem auto;
  padding: $spacing;
  border-radius: 20px;
}

@media (max-width: 576px) {
  main {
    width: 100%;
    @include sidePadding(0)
  }
}

.main_heading {
  font-size: 2.5rem;
  color: $theme-color;
  text-align: center;
  @include sidePadding(1rem)
}

.jumbotron {
  padding: 2rem;
  margin-top: $spacing;
  background-color: $bg-color;
  margin-bottom: 0;
  border: 1px solid $theme-color;
  border-radius: 10px;
}