footer {
  color: grey;
  width: 80%;
  margin: auto;
  padding: 1rem;
  font-size: 1.2rem;

  a {
    color: grey;

    &:hover {
      color: grey;
    }
  }

  .container {
  margin-top: 1rem;

  #licensing {
    text-align: center;
    font-size: 0.9rem;
  }

  }
}