footer {
  color: grey;
  width: 80%;
  margin: auto;
  padding: 1rem;
  font-size: 1.2rem;

  a {
    color: grey;

    &:hover {
      color: grey;
    }
  }

  .container {
  text-align: center;
  margin-top: 1rem;

  .row {
    display: inline-block;
  }

  .licensing {
    font-size: 0.9rem;
  }

  }
}