footer {
  color: grey;
  width: 70%;
  margin: auto;
  padding: 1rem;
  font-size: 1.2rem;

  .container {
  margin-top: 1rem;

  #licensing {
    text-align: center;
    font-size: 0.9rem;
  }

  }
}