.postList {

  span {
    color: $sup-color;
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2rem;
    margin: 0.7rem;
    margin-bottom: 0;
  }

  .author {
    margin-top: 0.2rem;
    a {
      color: grey;
      text-decoration: none;
      font-size: 1.2rem;
    }
  }

  p {
    margin: 0.7rem;
    font-size: 1.1rem;
  }

  .btn {
    background-color: $sup-color;
    color: white;
    margin-top: 0.7rem;
    opacity: 0.90;
    width: 10rem;
  }
}

.other_headings {
  font-size: 2.5rem;
  color: grey;
  text-align: center;
  @include sidePadding(1rem);
}