.postList {

  span {
    color: $sup-color;
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2rem;
    margin: 0.7rem;
  }

  p {
    margin: 0.7rem;
    font-size: 1.1rem;
  }

  .btn {
    background-color: $sup-color;
    color: white;
    margin-top: 0.7rem;
    opacity: 0.90;
    width: 10rem;
  }
}