.postDetail {
	p {
		font-size: 1.2rem;
		text-indent: 3rem;
	}
}

#post_date {
	text-align: center;
	font-size: 1.3rem;
	font-weight: 300;
}

/* Content takes the full width in small screens */
@media (max-width: 576px) {
  .postDetail {
  	@include sidePadding(1rem);

  	p {
  		font-size: 1rem;
  	}
  }
}

#post_heading {
  font-size: 2rem;
  color: grey;
  text-align: center;
  @include sidePadding(1rem);
}