---
---

$bg-color: white;
$theme-color: orange;
$sup-color: red;
$spacing: 2.3rem;

body {
  font-family: Abel, sans-serif;
  background-color: $bg-color;
}

.navbar {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  ul {
  	margin: 0;
	  padding: 0;
	  list-style: none;
  }

  li {
	  display: inline-block;
	  padding-left: 1rem;
    padding-right: 1rem;
	  font-size: 1.2rem;
  }

  a {
    color: grey;
	  text-decoration: none;
  }
}

main {
  width: 80%;
  margin: 1rem auto;
  padding: $spacing;
  border-radius: 20px;
}

@media (max-width: 576px) {
  main {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

#latest-posts-heading {
  text-transform: uppercase;
  font-size: 2.5rem;
  color: $theme-color;
  text-align: center;
}

.jumbotron {
  padding: 2rem;
  margin-top: $spacing;
  background-color: white;
  margin-bottom: 0;
  border: 1px solid $theme-color;
  border-radius: 10px;
}

.postList {

  span {
    color: $sup-color;
    font-size: 1.3rem;
  }

  h1 {
    font-size: 2rem;
    font-family: abel;
    text-transform: uppercase;
    margin: 1rem;
    font-weight: 600;
  }

  p {
    margin: 1.5rem;
    font-size: 1.1rem;
  }

  .btn {
    background-color: $sup-color;
    color: white;
    margin-top: 1rem;
    opacity: 0.90;
    width: 10rem;
  }
}

footer {
  color: grey;
  width: 60%;
  margin: auto;
  padding: 1rem;
  font-size: 1.2rem;

  h1 {
    padding-left: 3rem;
  }

  .container {
  margin-top: 1rem;

    ul {
      list-style: none;
    }
  }
}